* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

input {
    cursor: pointer;
}

/* ---------- Cabeçalho do site ---------- */
          /*LOGO E LINKS*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    /* position: fixed; */
}

.h-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;   
}

header ul a,li {
    display: inline;
}

.links > a {
    text-decoration: none;
}

.links > a > li {    
    color: #18A0FB;
    margin-left: 35px;
}

          /*LOGIN*/
.loginbtn {
    color: #18A0FB;
    background-color: white;
    border: 1px solid #18A0FB;
    padding: 10px 49px;
    border-radius: 6px;
}

.signupbtn {
    color: white;
    padding: 10px 40px;
    background-color: #18A0FB;
    border: 1px solid #18A0FB;
    border-radius: 6px;
    margin-left: 10px;
}

.header-right > input:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 1s;
}

/* ---------- main do site ---------- */
          /*primeira section*/
.container {
    margin: 0 auto;
    max-width: 1400px;
}

.section-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    background-image: url("./img/dog.jpg");
}

.playbtn{
    max-width: 80px;
    margin-top: 90px;
    margin-left: 635px;
}

.text-video {
    color: white;
    font-size: 56px;
    margin-top: 50px;
    text-align: center;
}

.joinbtn {
    color: white;
    padding: 10px 40px;
    background-color: #18A0FB;
    border: 1px solid #18A0FB;
    border-radius: 6px;
    margin-left: 600px;
    margin-top: 20px;
}
          /*segunda section*/
.section-text {
    height: 700px;
}

.section-text > div > h1 {
    padding: 60px 80px 30px 80px;
    font-weight: 500;
    font-size: 48px;
    max-width: 650px;
}

.section-text-itens{
    display: grid;
    grid-template-columns: auto auto; 
}

.section-text-itens > div > h2 {
    margin-bottom: 15px;
    font-weight: bolder;
}

.section-text-itens > div {
    padding: 20px 80px;
}

.learn-btn{
    color: #18A0FB;
    background-color: white;
    border: 1px solid #18A0FB;
    padding: 10px 30px;
    border-radius: 6px;
    margin-top: 30px;
}

          /*terceira section*/
.section-image1 {
    display: flex;
    padding: 60px 80px;
    align-items: center;
}

.section-image1 > div > img {
    width: 590px;
}

.section-image1 > div > p {
    margin-top: 20px;
    width: 500px;
}

.section-image1 > div:nth-child(2) {
    padding: 0px 80px 0px 40px;
} 
          /*terceira section*/

.section-image2 {
    display: flex;
    padding: 60px 80px;
    align-items: center;
}

.section-image2 > div > img {
    width: 590px;
}

.section-image2 > div > p {
    margin-top: 20px;
    margin-right: 40px;
}

/*  ---------- rodapé do site  ----------  */
.top-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding-top: 30px ;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.footer-left a {
    margin-right: 50px;
    text-decoration: none;
    color: black;
}

.footer-right{
    margin-left: 60px;
}

.footer-right a {
    margin-left: 50px;
    text-decoration: none;
    color: black;
}

.bottom-footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.bottom-footer > a > img{
    padding: 10px;
}

footer p {
    text-align: center;
    padding: 10px;
}