* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}
/* ---------- Cabeçalho do site ---------- */
          /*LOGO E LINKS*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    /* position: fixed; */
}

.h-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;   
}

header ul a,li {
    display: inline;
}

.links > a {
    text-decoration: none;
}

.links > a > li {    
    color: #18A0FB;
    margin-left: 35px;
}

          /*LOGIN*/
.loginbtn {
    color: #18A0FB;
    background-color: white;
    border: 1px solid #18A0FB;
    padding: 10px 46px;
    border-radius: 4px;
}

.signupbtn {
    color: white;
    padding: 10px 40px;
    background-color: #18A0FB;
    border: 1px solid #18A0FB;
    border-radius: 4px;
    margin-left: 10px;
}

.header-right > input:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 1s;
}


/* container */

.container {
    margin: 0 auto;
    max-width: 1400px;
}
.section-video {
    height: 500px;
    background-image: url("./img/dog.jpg");
}


.text-video {
    color: white;
    font-size: 56px;
}

/*  ---------- rodapé do site  ----------  */
.top-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding-top: 30px ;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.footer-left a {
    margin-right: 50px;
    text-decoration: none;
    color: black;
}

.footer-right{
    margin-left: 60px;
}

.footer-right a {
    margin-left: 50px;
    text-decoration: none;
    color: black;
}

.bottom-footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.bottom-footer > a > img{
    padding: 10px;
}

footer p {
    text-align: center;
    padding: 10px;
}